<div style="width: 100%; text-align: center;">
  <img src="/evil.png">
  <% if @saml_idp_fail_msg %>
    <div id="saml_idp_fail_msg" class="flash error"><%= @saml_idp_fail_msg %></div>
  <% end %>

  <%= form_tag do %>
    <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>
    <%= hidden_field_tag("RelayState", params[:RelayState]) %>

    <p>
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email], :autocapitalize => "off", :autocorrect => "off", :autofocus => "autofocus", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
      <%= submit_tag "Sign in", :class => "button big blueish" %>
    </p>
  <% end %>
</div>