<!DOCTYPE html>
<html>
  <head>
    <title>NaiveIdp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <style>
    * {
      background-color: black;
      color: red;
    }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
